<div class="start">
	<h2>How do you want to play</h2>
	<ul>
		<li>
			<%= link_to "Enter a year, I'll give you Billboard Top 100 singles from around that time", game_play_path(type: 'by_year'), remote: true, method: :post, class: "btn btn-primary" %>
		<li>Completely random, and quite challenging</li>
	</ul>
</div>